@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
  width: 100%;
  height: 100vh;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

header, main, footer {
  flex-shrink: 0;
}

header {
  height: 400px;
  /* margin-top: 56px; */
  background-color: #5478f9;
  color: #FDFDFF;
}

header .header-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  min-height: 100%;
}

main .home-main {
  width: 100%;
  height: 100%;
  background: url('../img/bgimg.JPG') center center no-repeat;
  background-size: cover;
}

main .home-main-wrapper{
  width: 100%;
  height: 100%;
  background-color: rgba(3, 25, 39, 0.7);
  color: white;
}

/* sticker card */
.sticker-wrapper {
  width: 100%;
}

.sticker-body {
  width: 100%;
  padding: 20px 10px;
}

.sticker-body > img {
  height: 221px;
  margin-bottom: 14px;
}

.sticker-body > h5 {
  text-align: center;
  margin-bottom: 14px;
}

.sticker-body > button {
  background-color: #1968c2;
  color: white;
  width: 100%;
}