<main>

  {% if pageTitle == "Home" %}
  <div class="home-main">
    <div class="home-main-wrapper">
      <div class="container">
        <h3>"why is a raven like a writing desk?"</h3>
      </div>
    </div>
  </div>
  {% else %}
    <div class="container">
      {{ content }}
    </div>
  {% endif %}
</main>